body {
	--white: #edeeef;
	--true-white: #fff;
	--black: #1a2330;
	--true-black: #000;

	--gray: #606060;
	--gray-mid: red;
	--light-gray: #d8dadc;

	--blue: #3d6fb1;
	--light-blue: #8bb5cb;

	--pink: #cb8bb3;
	--yellow-green: #c1cb8b;
	--purple: #646da6;

	--ubuntu: "Ubuntu", sans-serif;
	--prompt: "Prompt", sans-serif;
}
