a:not(.no-line, [href^="#"]) {
	--color: var(--blue);
	color: var(--color);
	text-decoration: none;
	position: relative;
	z-index: 1;
	transition: 200ms ease-in-out;

	&:hover,
	&:active,
	&:focus {
		color: var(--white);

		&:before {
			width: 110%;
			height: calc(110% + 0.35em);
			left: -5%;
			bottom: calc(-0.35em - 5%);
		}
	}

	&:before {
		content: "";
		position: absolute;
		bottom: -0.35em;
		left: 0.25em;
		width: 100%;
		height: 0.25em;
		background-color: var(--color);
		z-index: -1;
		transition: 150ms var(--in-out);
	}
}

a.no-line,
a[href^="#"] {
	transition: 330ms ease;
	&:hover,
	&:active,
	&:focus {
		opacity: 0.5;
	}
}
