html {
	// Colors
	--black: #{$black};
	--white: #{$white};
	--gray: #{$gray};

	--yellow: #{$yellow};
	--blue: #{$blue};
	--light-blue: #{$light-blue};
	--pink: #{$pink};
	--green: #{$green};
	--purple: #{$purple};

	// Animations
	--in-out: #{$in-out};
}
*::-webkit-scrollbar {
	display: none;
}

html,
#root {
	background-color: var(--gray);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.container {
	width: 100%;
	padding: 0 160px;
}

@media (max-width: $desktop) {
	.container {
		padding: 0 5vw;
	}
}
