html {
	// Colors
	--black: #{$black};
	--white: #{$white};
	--gray: #{$gray};

	--yellow: #{$yellow};
	--blue: #{$blue};
	--light-blue: #{$light-blue};
	--pink: #{$pink};
	--green: #{$green};
	--purple: #{$purple};

	// Animations
	--in-out: #{$in-out};
}

html,
#root {
	background-color: var(--gray);
}

.container {
	width: 100%;
	padding: 0 160px;
}
