$black: #1a2330;
$white: #ffffff;
$gray: #edeeef;

$yellow: #e7e0a3;
$blue: #3d6fb1;
$light-blue: #8bb5cb;
$pink: #cb8bb3;
$green: #c1cb8b;
$purple: #646da6;

// Transitions
$in-out: cubic-bezier(0.26, -0.23, 0.81, 1.11);
