---
import Base from "../layouts/Base.astro";
const title = "The Archive";
const description =
	"Here you will find an account of my struggles and successes as a front-end web developer. Well, really it’s just the ones that I’ve taken the time to write about.";
---

<Base title={title} description={description}>
	<h1>Welcome to the Archive!</h1>
	<p>{description}</p>
</Base>
