---
const today = new Date();
---

<footer>
	<a href="/">the archive</a><br>
	<a href="jonknoll.dev">Jonathan Knoll © 2023</a>
</footer>
<style>
	footer {
		padding: 25px 0;
		text-align: left;
	}
</style>
