@mixin full-bleed {
	display: grid;
	grid-template-columns: 1fr min(65ch, 100%) 1fr;

	> * {
		grid-column: 2;
	}

	.full-bleed {
		width: 100%;
		grid-column: 1 / 4;
	}
}

html {
	body {
		@include full-bleed;
		position: relative;
		z-index: 1;

		main {
			width: 100%;
			grid-column: 1 / 4;
			@include full-bleed;
			color: var(--black);

			h2,
			h3,
			h4,
			h5,
			h6,
			strong,
			b {
				margin-bottom: 0.2em;

				+ * {
					margin-top: 0;
				}
			}
			section {
				margin: 3em 0;
				+ * {
					margin-top: 0;
				}
			}

			ol,
			ul {
				list-style: disc;
				&:not(ul) {
					list-style: decimal;
				}
				padding-left: 1.2em;
			}

			hr {
				color: var(--line);
				border-radius: 2px;
			}

			article.blog-template {
				@include full-bleed;
				max-width: 1000px;
				margin: auto;

				&:first:is(section) {
					background-color: white;
				}
			}
		}

		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 2rem solid var(--true-white);
			z-index: 2;
			user-select: none;
			pointer-events: none;
		}
		#base-decoration {
			.fixed {
				position: fixed;
				z-index: 2;
				user-select: none;
				pointer-events: none;

				svg {
					width: 100%;
					height: 100%;
				}

				&.tl {
					top: -8rem;
					left: -8rem;
					width: 16rem;
					height: 16rem;
				}
				&.br {
					bottom: -5rem;
					right: -5rem;
					height: 20rem;
					width: 20rem;
				}

				&.background {
					width: 300vw;
					right: -50vw;
					bottom: -50vh;
					z-index: -1;
				}
			}
		}
	}

	@media (max-width: 1024px) {
		body {
			#base-decoration {
				.fixed {
					&.tl {
						width: 13rem;
						height: 13rem;
					}
					&.br {
						display: none;
					}
				}
			}
		}
	}
}
